<div class='header-container'>
    <div class='header-top'>
      <p>THƯ VIỆN</p>
      <p>TRƯỜNG TIỂU HỌC PHONG THẠCH TÂY A</p>
    </div>
    <div class='header-content'>
      <div class='header-left'>
        <div class="logo">
          <img src="https://png.pngtree.com/png-vector/20220701/ourmid/pngtree-education-book-logo-template-vector-illustration-design-png-image_5405255.png" alt="">
        </div>
          <p>QUẢN LÝ CHO HỌC SINH MƯỢN SÁCH</p>
      </div>
      <div class="header-right">
        <p>Qui định ngày quá hạn</p>
        <button class="btn-button">3</button>
      </div>
    </div>
</div>