
<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">STT</th>
      <th scope="col">MAHS</th>
      <th scope="col">Họ và tên</th>
      <th scope="col">LỚp</th>
      <th scope="col">Mã sách</th>
      <th scope="col">Tên sách</th>
      <th scope="col">Tên tác giả</th>
      <th scope="col">Tủ sách</th>
      <th scope="col">Sô MB</th>
      <th scope="col">Ngày mượn</th>
      <th scope="col">Này trả</th>
      <th scope="col">Số ngày</th>
      <th scope="col">Ghi chú</th>


    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"></th>
      <td>1</td>
      <td>HS001</td>
      <td>Dan Ngoc Phu Quoc</td>
      <td>19T2</td>
      <td>S001</td>
      <td>Tony buoi sang</td>
      <td>Tony</td>
      <td>Thieu nhi</td>
      <td>MB083</td>
      <td>12/3/2022</td>
      <td>14/3/2022</td>
      <td>2</td>
      <td></td>
    </tr>
        <tr>
      <th scope="row"></th>
      <td>2</td>
      <td>HS002</td>
      <td>Dan Ngoc Phu Quoc</td>
      <td>19T2</td>
      <td>S001</td>
      <td>Tony buoi sang</td>
      <td>Tony</td>
      <td>Thieu nhi</td>
      <td>MB083</td>
      <td>12/3/2022</td>
      <td>14/3/2022</td>
      <td>2</td>
      <td></td>
    </tr>
        <tr>
      <th scope="row"></th>
      <td>3</td>
      <td>HS003</td>
      <td>Dan Ngoc Phu Quoc</td>
      <td>19T2</td>
      <td>S001</td>
      <td>Tony buoi sang</td>
      <td>Tony</td>
      <td>Thieu nhi</td>
      <td>MB083</td>
      <td>12/3/2022</td>
      <td>14/3/2022</td>
      <td>2</td>
      <td></td>
    </tr>
        <tr>
      <th scope="row"></th>
      <td>4</td>
      <td>HS004</td>
      <td>Dan Ngoc Phu Quoc</td>
      <td>19T2</td>
      <td>S001</td>
      <td>Tony buoi sang</td>
      <td>Tony</td>
      <td>Thieu nhi</td>
      <td>MB083</td>
      <td>12/3/2022</td>
      <td>14/3/2022</td>
      <td>2</td>
      <td></td>
    </tr>
   
  </tbody>
</table>